:root {
    --blanco: white;
    --negro: black;
    --title-font: 'Playfair Display', serif;
    --main-font: 'Inter', serif;
}



html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,
figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: none;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    display: flex;
    color: inherit;
}


/*Header*/
.header {}

.header .a {}

.header .a .img {}


/*Main*/
.main {}

/*Input section*/
.section-input .section-input .textarea {}

.section-input .div {}

.section-input .div .svg {}

.section-input .div .p {}

.section-input .buttons {}

.button {}

.section-input .buttons .primary-button {}

.section-input .buttons .secondary-button {}


/*Result section*/
.section-result {}

.section-result .div {}

.section-result .div .img {}

.section-result .div .p1 {}

.section-result .div .p2 {}

.section-result .div .copy {}


/*Footer*/
.footer {}

.footer .rrss {}

.footer .rrss .ul {}

.footer .rrss .ul .li {}

.footer .rrss .ul .li .a {}

.footer .rrss .ul .li .a .svg {}

.footer .copyright {}