:root {
    --blanco: white;
    --negro: black;
    --title-font: 'Playfair Display', serif;
    --main-font: 'Inter', serif;
}



html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,
figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: none;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    display: flex;
    color: inherit;
}