:root {
    --white: #ffffff;
    --negro: black;
    --primary-gray: #343A40;
    --secondary-gray: #495057;
    --background: #F3F5FC;
    --primary-blue: #0A3871;
    --secondary-blue: #D8DFE8;
    --main-font: "Inter", sans-serif;

}



html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,
figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

form,
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    display: flex;
    color: inherit;
}

body {
    background-color: var(--background);
    height: 100vh;
}

.total-div {
    width: 100%;
    height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

/*Header*/
.header {
    width: 120px;
    height: 48px;
    margin: 40px 0 0 0;

    align-self: self-start;

}

.header .a {}

.header .a .img {
    width: 120px;
    height: 48px;
}


/*Main*/
.main {
    width: 80%;
    height: 100%;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}

/*Input section*/
.section-input {
    width: 70%;
    height: 100%;
    padding: 0 4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.section-input .textarea {
    padding: 6rem 0 0 0;
    resize: none;
    outline-style: none;
    border: none;
    width: 100%;
    height: 80%;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 2rem;

}

.section-input .disclaimer {

    display: flex;
    gap: 0.2rem;
    padding: 0 0 0 3rem;
}

.section-input .disclaimer .svg {}

.section-input .disclaimer .p {

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--secondary-gray);
}

.section-input .buttons {
    width: 600px;
    padding: 1rem 0 0 0;
    display: flex;
    gap: 20px;

    align-self: center;

}

.button {
    width: 280px;
    height: 60px;
    width: 50%;
    padding: 1.5rem;

    border-radius: 24px;

    justify-content: center;
    align-items: center;

    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1rem;

    cursor: pointer;
}

.section-input .buttons .primary-button {
    background-color: var(--primary-blue);
    color: var(--white);

}

.section-input .buttons .secondary-button {
    background-color: var(--secondary-blue);
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}


/*Result section*/
.section-result {
    width: 30%;
    height: 100%;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-result .result-before {
    width: 100%;
    height: 75%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.section-result .result-before .img {
    width: 75%;
}

.section-result .result-before .p1 {
    width: 70%;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 28.8px;
    color: var(--primary-gray);

}

.section-result .result-before .p2 {
    width: 80%;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5rem;
    color: var(--secondary-gray);

}

.section-result .result-before .copy {}


/*Footer*/
.footer {
    height: 5vh;
}

.footer .rrss {}

.footer .rrss .ul {}

.footer .rrss .ul .li {}

.footer .rrss .ul .li .a {}

.footer .rrss .ul .li .a .svg {}

.footer .copyright {}